<div id="featured-3">
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Encuentra tu próximo colegio</h2>
        <div class="row g-4 py-5" id="buscarColegio">
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection" />
                    </svg>
                </div>
                <h2>Buscar por localidad</h2>
                <p>Te ayudamos a encontrar el colegio de tus sueños. Introduzca la localidad y encontraremos las mejores
                    opciones.</p>
                <button routerLink="/busqueda/localizacion" class="btn btn-block">Buscar</button>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#toggles2" />
                    </svg>
                </div>
                <h2>Buscar por nombre del colegio</h2>
                <p>Accede para buscar información sobre un colegio en concreto. Accede a valoraciones, datos de
                    contacto, localización, etc.</p>
                <button routerLink="/busqueda/nombre" class="btn btn-block">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div id="featured-4">
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Noticias</h2>
        <div class="row p-5 text-center">
            <div class="col-lg-12">
                <a routerLink="/noticias" title="EducaTolerancia">
                    <svg version="1.1" id="educatolerancia" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="100px"
                        viewBox="0 0 739 157" enable-background="new 0 0 739 157" xml:space="preserve">
                        <image id="educatolerancia_img" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAuMAAACdAQAAAAA2sUuRAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAnRSTlMAAHaTzTgAAAACYktH
                RAAB3YoTpAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+YFFQ8iEBK3a5sAAAw4SURBVGje
                7Zq9jhQ9FobLcuDQ6QYrfBsbIHxbG3xfuxDBhFwCl7KFCCbkEihEQEihCSg0prznPcc/Vd3VMDUI
                bbBjCfXQZT9t+/zb1XVP7ak9taf21P7HTaXhD9Jtin+QHlIqv3O2CN3XP/1jF5hSGemn7RMz1t9J
                aXoobztBomdKmK/RfXrk9pk06zyvtGwf2ULHDJYDzNZcGpXMWaVnV+iO6OkQtS2674SuF3f2w5mu
                AKdu+vjuBFqyjDLxCt2mNHehp8/DdIjrL4HMu/RnolVEdzT/Y01B1TJ92qV7wwpD9ONKr6GOpww7
                o3umBzGIgL+O0g1GnDJsd+5BdJ3o6f1RusVeZvrwYo+ebZn6pJujdJe6Qg/9Hl1nM/0niejcEf2y
                edhg/AndV0ehH0GPlZ6y7rRdm3jqxQeY5TA9VLq6oJt5PXWytsN0ssJO/IxaujNL1wlmWk3IPoJO
                q1cTs5buzAOLf6nmT7Z8kK543bx2HdUZnQ2p0d30OLps63xBh+f9Vul+cv0DsbnpZtymRpHV05R0
                o4/+8XQ7XdBpa0ZTg1I4TDfNqdqpxdG6cWO3og/+GJzo9U83XtLRo9LTEH6HvqvOK3p/lL4KZn60
                /V6PQlepP5oX2DbAD7sKt6J3v0ff7VHcg07qaE5g24DQ+5/20Mvv0U+/oOv5Ich9+oUDluZKDxMP
                092aHn/aw0QzPZquFrU7NVe+tcfp9gB9rlnrg+mVqJZLJ4bmG73klY+g67jrZhr9ePDY0ncH13LH
                TUcd8Ia+H5N/h26qVM28H9dCofvxqIvc0Pdjw4p+uHRqxYqdXuz2CONv0OsIO+26ma4mDeHt4bJJ
                rehl8NYVPoR+tVxLLzPffS3qYzbFV6Wnd1edmLlWrtVTAvdpKqvYFF81JUm30xUGl2v/2HvgK/3z
                WPsO7Xk7X0k3V+ko157vPbAlPfeV7lv2t6G/HrsrjZKqblcndMq76b8UTPi2R1fpzXAFziN2TU2X
                o5FQdztVCfDzvtD9VXq6HVHPXjZT5haK3FV6t0/fHZ9HXKFXBQlL5b3ao+vrpxw04grdlTH1eMck
                vU/PP/+vnfXrK3S//JxeDaXSzzKHGanmNXoo0FQjXAmBU6WbHvS4peuB9zxiBIU1t7eyAlX1WM1F
                mklXKkGm4zjClJ41e+JecINuFTQ3al/rplZAlb6SG3GiGZg+bemSfyABd3Ojb7y0bsYyFEnMF3Q8
                M6X2LHTJP5Ci+0ZXG7ppKlGk4nOFYypd4ZnF4ij9qf7ZVXpoNdHWe9umElXOua+dCp2fWSyA9PeM
                7oReFr719O6SnnKF4yaRQi5u2OzIXRBd5C0nTz61Ed06TvPDaqHLhk4Tb3ROB5me0kB0miBNPAwF
                kAah0/dmE2GyupvFtAIGfWmQzG1Fx7PbkRD0/zCDTnZADgQjetnm3m7pc96gG+zAkOk9fFqodE5U
                HQvgBnQ3KTJcWgsNYHovqRAFEbehZxPx6UvMOiZ9E5WPsq9zTsfwMzoZpg/k0qBItEj6GVI3MVQK
                Iptj8GKhcm7HdO6r0+dBDGBDpw0E3fcmvX61omc3kL5PZ/RRPt5iEfmUrXsGn/qx0XkVWDMVCCNp
                RaAdNq9IDm5QNCuDEYphc1jTs6nSfDP9eXZbSX0V88JkiB54VmTyA9EXeItbod/HPGKAxP69Dskl
                MtF8QfeIvaLci7oTOiaTBhwCMd0OpHMRnu49HMyg76KMIAukOf59Ru9FIZlC9CSOhTYZochm+qtM
                9xPoZEx+ZnfvB0N0HkEyozXgLLfdlmRHQM8d09UeXaWbJNcXYXKk0eTeAuskxPt5FnNwfNaCxKYV
                GdkRuMj0MIAeRZYwcXdOH5k+sST4XNsWOq2b5mXFCApdLJT0QehQrii7jUee00jSchEt/cdDshO+
                zfTbWUZQOkKfVtS0uBlxBJgqpjaYRvcrui70IUCyI4IBrJxMA3RYZGj0fp+emD6zJ+O5nYS+ZDpB
                F5Ys6EnoryepCukb+sROtwIpu5kw5amRlNFXbeiG6+QAhX4ZIVnawF4RnaTkM51XMxVh7dP7TIeR
                wTVEnpPhI1yikwXPXSK9IToyRNDJVcPOENpAke0sTkwMlyaYRvZfKfcdMDeCYk5knYUOgU5wM5x/
                kg6cXKMnoZ8u6WpDN5jbjBgEOmnciRehEwQ6ediNYXETfWSDg1lijmt6STMSawHRvRgtiR4pgJ62
                dENpMM05iGazcUbQRx6hQIktZ2guctA8tT4UelfpPeg+03m/T2zbCeajohc6wjkoa3p2kZWOfct9
                LdHFMzG951BEC6cdWWBpsHmiz42uodBz185hGt0IPQmdFAtzy3RYMtNxi0w7AhfJ/soteiYbTTJC
                YzvnrqW4OUVSUEUsHHT2JwsXT3Y4p0/072OlezKzIPSAvSTKmp4dsC501egotIhZ6AMLAP/5z0c4
                YAReohumD3w1a6Fy0+rKNyfnCKU8mOgq98UVluu5B9Et0+GCvNAV6CHaMQyq0mnB08pF2kr3TNdC
                J8VSoPtuh+4/TRw8hD5AE2nEPbSIFjytXGSmc1DpIaQURXnoA46j0UclW9SFwHSD4JKiG6CjNOKO
                6QhgzYnlU2Bb6CZFwwKgD/o8CZ2st9GXQNUj+ckEBY+uh6LQiDvogUoirLPgkYqQvmT6bO/pi5yg
                ZrpkH1Ho7jPTPdNJPJ9JixYdid6cWKUrodv3EcpjP8z2jrNdXl2jk+3G8J4EMvlbypK+zQGhEiK7
                Bd3Mm4o+n6T6pH8w3X2IrHUfZv+J6PMlXc+ghym8JrP9XOmO0tC02Em2c0sPyXyHCizuTYRq+jdz
                eEfimnboU/hA9DFZppOK8fGJvyEtW9xXorcE3he6/Y4SInoXoZrezZQGcNm1oZODI/PBPO4WuMnb
                71ELPRjQA2WHq+PefE56n+hXoWBB6CeXElz4KKtjuha6HVlCKcJNgr7wCwknAx2mbPSSTkld+sj0
                k4uY2uISKSfbBafvhc62AkUHnRznTZr1wsocTTTfUnpJznY6o+uv+FUoWHQzV0YWCt+5Czppc6ZP
                oJtCV9HM9hPn9KvDZMm2zUf8KtF/EB0BgixxJkWHXWS6Ax2xhhR84Xc/4CYpwhh4JNIkO7t3cCP9
                6hRdsm2sVsE/p9l9/wFdkWE+rw4+stADh04yCqIv5JEhTcif6G/hP/rVYXKmU8Cr9O/oq/nyMKzo
                Q6afOBMh86QvaQOpVlD3kL+daVWTLhXUiu5IMxW8P6Uqiei0OMqbFi75Qac6DtGaX5tYmA4tnyEe
                qhX0PeRv50DpHHXy5/QXNFuhjy59ZWk6jsiXdPqOD1KeEx3iGWzUdxhhZ7IudFodvklZ9xcHv858
                yXT+eRsrnbIlonPAptQ9V4lIhRHrouER9n7hQLE+4xB6FLp9T7KC4vPPW7ld4kyI1KMXOudimc5a
                amfLI+S1sB06W5fQKbx+zDeR+XYJdI3KV3OCRN+FQnejWkB/C6ScDW2vApnO1gU53YD+Fnku01lz
                waJnSd4tGO1YzuMdco2/OtZEFfPZkErr6zTuydYldOr0Enku012js76yDQ1dPvMkJWHxzJ5HmCQU
                O53RWf+RLPPW9ulG3EPkMwzuQTVfpvtaWtiZYzKuWnD8LHmXSu6czvoPOifUXXrDHbS8YcFTCl+4
                XKcEqh0LGjlAdJSzpjfIn/nb9tJHoXMgpKcn0Z9QMlfuz/9xpBCg+7Edpxo5QHSTpD5ZVzbvHjG9
                vICSdSmU7G+pdE7gSO/8p6Zv+ewb9HY+vf5T6Nnd1/tPn+cnc2N6qTP86mW9fDrivsY6YjVY6FNX
                sspUgkq56RbfLysNXGdQUFnpm2ygK5V8HhzP6NndV00tn/koqOyjRp2xfo1R3JX7ts56u83tMej5
                4nFzLL5af6PDJ47nHTY/eNYQm3LulG7GnQ5rOnxif97hp/S5HtyG3TuTRmcjv7yKc2nsrjUKMMXt
                IAnao/f1r91b7c3t0SW9jAmXqz6jr13Ig+g21ncgN5pam17T9/bA7k4qP1vqhYJf9jqs6bvXTVdv
                +PhZPVx2ca/Dmr67Bz97mVS3F3G3B7itQ/0z7e/BdJ3e/eol4g29O9p+9bbmih6W7mhzvxiyEpqf
                u8NtfDB9V91/r5nj2/H/Qv+Tr/U/5r3uI/RHqOEB+vQn6Wr8k/Sn9tRW7b9PNr9tFV8xrAAAACV0
                RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wNS0yMVQxMjozNDoxNiswMzowMLaHK5IAAAAldEVYdGRhdGU6
                bW9kaWZ5ADIwMjItMDUtMjFUMTI6MzQ6MTYrMDM6MDDH2pMuAAAAGXRFWHRTb2Z0d2FyZQBwYWlu
                dC5uZXQgNC4wLjIx8SBplQAAAABJRU5ErkJggg==" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>