<div class="container">
    <div class="input-group">
        <input type="text" class="form-control rounded" placeholder="Introduce el nombre del colegio"
            aria-label="Search" aria-describedby="search-addon" name="busqueda" [(ngModel)]="busqueda" />
        <button type="button" (click)="submit()" class="btn btn-outline-primary">Buscar</button>
    </div>

    <div class="list-group">
        <span class="list-group-item list-group-item-action active">Listado de colegios</span>
        <app-spinner class="list-group-item list-group-item-action mt-1 mb-1" *ngIf="loading"></app-spinner>
        <button routerLink="/colegios/{{colegio.nombre_colegio}}" class="list-group-item list-group-item-action"
            *ngFor="let colegio of colegios">
            <ul>
                <li>
                    <h1>{{colegio.nombre_colegio}}</h1>
                </li>
                <li>
                    <span>{{colegio.opinion_media}}</span>
                    <span class="ml-2">{{colegio.comentarios_cant}}</span>
                </li>
                <li>
                    <span>{{colegio.direccion}}</span>
                </li>
            </ul>
        </button>
    </div>
</div>