<div class="container mt-3 mb-5">
    <label class="ml-2">Comunidad autónoma</label>
    <div class="input-group mb-3">
        <input type="search" class="form-control rounded" placeholder="Introduce la comunidad autónoma"
            aria-label="Search" aria-describedby="search-addon" list="listCCAA" [(ngModel)]="ciudad" />

        <datalist id="listCCAA">
            <option *ngFor="let ciudad of ciudades" value="{{ciudad}}"></option>
        </datalist>
        <button type="button" class="btn btn-outline-primary" (click)="buscarColegiosProvincias()">Buscar</button>
    </div>

    <label class="ml-2">Población</label>
    <div class="input-group">
        <input type="search" class="form-control rounded"
            placeholder="Introduce el nombre de la población" aria-label="Search" aria-describedby="search-addon"
            list="listPoblacion" [(ngModel)]="provincia" />

        <datalist id="listPoblacion">
            <option *ngFor="let provincia of provincias" value="{{provincia}}"></option>
        </datalist>

        <button type="button" class="btn btn-outline-primary" (click)="buscarColegios()">Buscar</button>
    </div>

    <div class="list-group mt-5">

        <head class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Listado de colegios</h5>
            </div>
            <p class="mb-1">Información de los colegios ubicados en la población que se ha buscado</p>
        </head>

        <button routerLink="/colegios/{{nombre}}" class="list-group-item list-group-item-action">
            <app-spinner  *ngIf="spinner"></app-spinner>
            <ul>
                <li>
                    <h1>{{nombre}}</h1>
                </li>
            </ul>
        </button>
    </div>
</div>