<div id="featured-3">  
    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">Encuentra tu próximo colegio</h2>
      <div class="row g-4 py-5" id="buscarColegio">
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
          </div>
          <h2>Buscar por localidad</h2>
          <p>Te ayudamos a encontrar el colegio de tus sueños. Introduzca la localidad y encontraremos las mejores opciones.</p>
          <button routerLink="/busqueda/localizacion" class="icon-link">
            Buscar
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
          </button>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
          </div>
          <h2>Buscar por nombre del colegio</h2>
          <p>Accede para buscar información sobre un colegio en concreto. Accede a valoraciones, datos de contacto, localización, etc.</p>
          <button routerLink="/busqueda/cole" class="icon-link">
            Buscar
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="b-example-divider"></div>
  
  <div id="featured-4">
    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">Noticias</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="feature col">
          <img title="El Pais" src="./assets/project/images/news/logo_elpais.JPG" class="logo_elpais">
        </div>
        <div class="feature col">
          <img title="20 minutos" src="./assets/project/images/news/logo_20minutos.JPG" class="logo_20minutos">
        </div>
        <div class="feature col">
          <img title="El Confidencial" src="./assets/project/images/news/logo_elconfidencial.JPG" class="logo_elconfidencial">
        </div>
        <div class="feature col">
          <img title="EducaTolerancia" src="./assets/project/images/news/logo_educatolerancia.JPG" class="logo_educatolerancia">
        </div>
      </div>
      <button routerLink="/noticias" class="icon-link">
        Ver noticias
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </button>
    </div>
  </div>