#busqProvincia {
    background-color: aquamarine;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22%;
}

#busqLocalidad {
    background-color: khaki;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 22%;
}

#containerStyle {
    padding-top: 3%;
}