.noticias {
    padding-top: 5ch;
    padding-bottom: 5ch;
}

.articulo {
    margin-top: 2ch;
    margin-bottom: 2ch;
    padding: 5ch;
}

.categorias {
    padding: 2ch;
    background-color: azure;
}

li {
    list-style: none;
}